<h1>Hello phone</h1>
{{#if phones.length}}
{{#each phones}}
<div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}" alt="{{model}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{model}}</span>
        <p class="price">{{price}}</p>
        </div>
        <div class="card-action">
          <a href="/phones/{{id}}" target="_blank">Open phone</a>
          <a href="/phones/{{id}}/edit?allow=true">Edit</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
{{else}}
<p>Empty</p>
{{/if}}